/* special.css */

/* Style for the country name with gradient color transition */
.country-name {
    background: linear-gradient(90deg, #ff0000, #0000ff, #838282); /* Red, Blue, White gradient */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text fill color transparent */
    animation: colorTransition 5s linear infinite; /* Animation to transition colors */
}

/* Keyframes for gradual color transition */
@keyframes colorTransition {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}