/* custom.css */

/* General styling */
body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111; /* Text color */
    background-color: #fdfdfd; /* Background color for the page */
    margin: 0; 
    padding: 0;
}

/* Headings */ 
h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #c5b414; /* Primary color for headings */
}
